<% include includes/headers.ejs %>

<body class="img2">
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page for your Budget Records</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

<div class="container">
    <h1>"BUDGET RECORD TRACKER EXPENSES"</h1>
<div id="wrapper">
  <div id="expense-container">
    <a id="goToExpense" href="/expense">Add Expense</a>
    <a id="goToIncome" href="/income">Add Income</a>
    <div id="expenseList">
      <table class="table-bordered expenses-table">
        <thead>
          <th id="expenseHead">Name</th>
          <th id="expenseHead">Company</th>
          <th id="expenseHead">Type</th>
          <th id="expenseHead">Monthly Cost</th>
          <th id="expenseHead">Day of Month</th>
          <th id="expenseHead">Delete</th>
        </thead>
        <tbody>
        <% for(var i=0; i<expenses.length; i++){ %>
            <tr>
              <td><%=expenses[i].name_of_expense%></td>
              <td><%=expenses[i].company_name%></td>
              <td><%=expenses[i].payee%></td>
              <td><%=expenses[i].pay_period%></td>
              <td><%=expenses[i].date_of_month%></td>
              <td><%=expenses[i].monthly%></td>
            </tr>
          <% } %></tbody>
        <tfoot>
          <tr>
            <th scope="row">Total Expense
              <td> </td>
              <td></td>
              <td id="totalFeeMonthly"></td>
              <td></td>
              <td></td>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div id="incomeContainer">
    <div id="incomeList">
      <table class="table-bordered incomes-table">
        <thead>
          <th id="incomeHead">Employee</th>
          <th id="incomeHead">Company</th>
          <th id="incomeHead">Title</th>
          <th id="incomeHead">Hours Per Week</th>
          <th id="incomeHead">Rate of Pay</th>
          <th id="incomeHead">Amount</th>
          <th id="incomeHead">Delete</th>
        </thead>
        <tbody>
          <% for(var i=0; i<incomes.length; i++){ %>
            <tr>
              <td><%=incomes[i].name_of_worker%></td>
              <td><%=incomes[i].company_name%></td>
              <td><%=incomes[i].company_title%></td>
              <td><%=incomes[i].hours_work%></td>
              <td><%=incomes[i].pay_period%></td>
              <td><%=incomes[i].yearly%></td>
            %<!--Insert Delete Button????-->%
            </tr>
          <% } %>
        </tbody>
        <tfoot>
          <tr>
            <th scope="row">After Tax
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td id="totalIncomeWeeklyAfterTax"></td>
              <td></td>
            </th>
          </tr>
        </tfoot>
        <tfoot>
          <tr>
            <th scope="row">Total Income
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td id="totalIncomeWeekly"></td>
              <td id="totalIncomeMonthly"></td>
              <td id="totalIncomeYearly"></td>
              <td></td>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
 </div>









</div>
</body>
<% include includes/footers.ejs %>
